html{
	height: 100%
}
body{
	height: 100%
}
.leftbox{
	display: inline-block;
	height: 100%;
}
.rightbox{
	display: inline-block;
	height: 100%;
}
.rightsmallbox1{
	display: inline-block;
	height: 100%;
}
.rightsmallbox2{
	display: inline-block;
	height: 100%;
}

.BBOX{
	height: 100%;
}
.w3-half{
	height: 100%;
}
.RBOX, .LBOX{
	height: 50%;
}